<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Green Smoothie Generator</title>
        <meta name="description" content="">
        <meta name="author" content="">


        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


       <!-- Include GOOGLE Webfonts -->

       <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>




        <!-- Include CSS Resources -->

        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/theme.css" rel="stylesheet">
        <link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    </head>

  <body>



   <!-- Start Navbar -->


    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Dust off that Nutribullet, people!</a>
          <div class="nav-collapse">
          </li>
            </ul>
           <ul class="nav pull-right">
              <li><a href="index.html">Home</a></li>
              <li><a href="http://www.grownyc.org/greenmarket/ourmarkets">Hungry?</a></li>

            </ul>


          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>



   <!-- End Navbar -->



   <!-- Start Billboard -->

    <div class="billboard">
    <div class="container">
    <div class="row">
    <div class="span6">


   <h1 style="font-weight:400;"><span style="font-weight:400;">Something vexes thee?</h1>
           <br>
           <p>Enter your ailment... The green smoothie generator will find a recipe for you that features ingredients shown to improve the chosen affliction.  Pineapple's <a href="http://umm.edu/health/medical/altmed/supplement/bromelain">bromelain</a> enzymes for inflammation, <a href="http://www.forbes.com/sites/melaniehaiken/2012/06/30/5-surprising-foods-that-help-you-sleep/">melatonin</a>-rich cherries for insomnia, ginger's <a href="http://health.howstuffworks.com/wellness/natural-medicine/herbal-remedies/using-ginger-to-treat-upset-stomach.htm">gingerols and shogaols</a> for upset belly... let food be thy medicine!  (Not to replace conventional medicine, though.  Only supplement.  Unless it's contraindicated with something else you take.  Better check your labels and stuff.)</p>
                  <br>
            <div class="btn-toolbar">
      <button class="btn btn-large btn-head-1"> <i style="padding-right:15px; padding-top:5px;" class="icon-leaf"></i>Keepin it fresh</button>
      <button class="btn btn-large"><i style="padding-right:15px; padding-top:5px;" class="icon-star-empty"></i>More about us here</button>
       </div>

        <br>

      </div>

   	<div class="search-form" >
		<h1 class="logo">Green Smoothie Generator</h1>

			<img src="http://fc06.deviantart.net/fs41/i/2009/042/9/a/Ghost_in_a_Blender_by_venkman_project.jpg" alt="Juice" width="250" height="200">

		<%= form_tag recipes_path, :remote => true, :method => :get do %>
  		<div class="ui-widget">
    	<%#= collection_select_tag 'name', Ailment.all, :id, :name, { include_blank: "" } %>
      	<%= search_field_tag :search, params[:search], id: "tags", class: "search-query", size: "50", :placeholder => "Select an ailment" %>
      	<%= submit_tag "Search", :name => nil, class: "btn btn-danger btn-lg", id: "search-submit" %>
	    	<div>
	      	<%= flash[:error] %>
	    	</div>
  		</div>
		<% end %><br>
	</div>

<div id="recipe-result">
</div>

</div>
</div>
</div>
</div>

   <!-- End Billboard -->



     <!-- Start Main Content -->


<div class="sec_2">
<div class="container">
<div class="row">
<div class="span6">
<ul class="thumbnails">

<li class="span2">
<div class="fancycaption fancycaption-fade">
<img class="fade" width="150px" src="http://laurenconrad.com/wp-content/uploads/s3photo/hI9dHbyDMaygUI6UL7FH4bYw.jpeg" alt="">
</div>
</li>

 <li class="span2">
 <div class="fancycaption fancycaption-fade">
 <img class="fade" width="150px" src="http://healthstorelavington.com.au/wp-content/uploads/2013/04/Cold-Fighting-Foods.jpg" alt="">
 </div>
 </li>

 <li class="span2">
 <div class="fancycaption fancycaption-fade">
 <img class="fade" width="150px" src="http://3.bp.blogspot.com/-FM6b1qMDaOY/UcX9jlot-oI/AAAAAAAAAhU/vd3M4Vc_R94/s1600/1016634_10200817696698947_1616175315_n.jpg" alt="">
 </div>
 </li>
 </ul></div>
 <div class="span6">
 <h1>some header here.</h1>
 <br>
 <p>Read more about the health properties and benefits of specific fruits, vegetables, herbs and spices at <a href="http://www.rebootwithjoe.com/eating/a-z-fruit-veggies"/>Reboot with Joe</a>.</p>
</div>
</div>
</div>
</div>

<div class="billboard">
<div class="container">
<div class="row">
<div class="span4 text-cent">
<div class="icon-helper">
<i class="fa-shopping-cart icon-large"></i>
</div>
<h2><a href="http://www.grownyc.org/greenmarket/ourmarkets">Farmers' Market Locator</a></h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
<div class="span4 text-cent">
<div class="icon-helper">
<i class="fa-medkit icon-large"></i>
</div>
<h2><a href="http://www.drugs.com/drug_interactions.html">Check for Food Interactions</a></h2>
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
<div class="span4 text-cent">
<div class="icon-helper">
<i class="fa-heart icon-large"><a href="http://cdn.diabeticlivingonline.com/sites/diabeticlivingonline.com/files/styles/slide/public/CarbsSlide1.jpg?itok=vAFiFCrB"></a></i>
</div>
<h2><a href="http://www.umassmed.edu/healthyheart/tipsheets/carbcount.aspx">Carb Content</a></h2> 
<p>dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum </p>
</div>
</div>
</div>
</div>

<div class="container">
<hr>

      <!-- Example row of columns -->
      <div class="row">
         <div class="span3">
        <ul class="thumbnails">

        <li class="span3 span3 fancycaption fancycaption-fade">
  <img class="fade thumbnail" src="<%= asset_path("what-do-you-expect-hes-an-onion.jpg") %>" alt="" />
        </li>
      </ul>

        </div>
        <div class="span3">
        <ul class="thumbnails">

        <li class="span3 fancycaption fancycaption-fade">

  <img class="fade thumbnail" src="<%= asset_path("that-crazy-broccoli.jpg") %>" alt="" />

        </li>
      </ul>

        </div>
        <div class="span3">
          <ul class="thumbnails">

        <li class="span3 span3 fancycaption fancycaption-fade">
  <img class="fade thumbnail" src="<%= asset_path("vegetables-i-hate-pt-3-and-4-1.jpg") %>" alt="" />
</div>
        </li>
      </ul>

        <div class="span3">
          <ul class="thumbnails">

        <li class="span3 span3 fancycaption fancycaption-fade">
  <img class="fade thumbnail" src="<%= asset_path("pumpkin-pie.jpeg") %>" alt="" />
      <hr>

   </li>
   </ul>
   </div>
   </div>
   <hr>


   </div>

   <!-- End Main Content -->


     <!-- Start Footer -->

   <div id="footer">
   <div class="container">
   <div class="row">
   <div class="span6">  <p style="padding-top:15px;">&copy; 2014 - Made by <strong><a href="https://github.com/ChavaLovesFyedka">Stephanie</a></h6></strong> at Flatiron School</p></div>

    <div class="span6">  <div style="padding:10px; float:right;" class="btn-group">
  <button class="btn"><i  class="icon-facebook-sign"></i></button>
<button class="btn"><i  class="icon-twitter-sign"></i></button> </div></div>

</div>
</div>
</div>


<!-- End Footer -->



    <!-- Include JQUERY/JAVASCRIPT
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/rand.js"></script>
    <script src="js/bootstrap/fancyCaption.js"></script>

   <script>
     $(document).ready(function() {

  $('.shuffle').randomImage({path: 'images/'});
  $('a:first').click(function() {
    location.reload();
    return false;
  });

});


 </script>
     
   <script type="text/javascript">
$(document).ready(function(){
  $(".fancycaption-fade").fancyCaption({slideTopBar:false, slideBottomBar:false, slideLeftBar:false, slideRightBar:false });
});
</script>





</body></html>